.products {
    background-image: url(https://www.zrthemes.com/demoz/kar-v2/assets/images/section-bg.jpg);
    height: 115vh;
    width: 100;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 0;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    /* overflow: hidden; */
    position: relative;

    box-sizing: border-box;
}
.products::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
}

.products .title h2{
    margin-top: 100px;
    font-size: 38px;
    color: white;
}
.products .subtitle p{
    font-size: 22px;
    color: #c00113;
}
.products .cards{
    margin: 105px 190px;
    position: absolute;
    display: flex;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: center;
    align-items: center;
    /* gap: 60px; */
    margin-top: 250px;
    
}
.products .items{
    width: 100%;
    border-radius: 3px;
	margin-bottom: 105px;
    box-sizing: border-box ;
    background-color: rgba(0, 0, 0, 1);
    display: none;
    /* position: relative; */
    z-index: 7;
}
.products .items img{
    width: 320px;
    height: 275px;
}


.products .cards button{
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 9px 35px;
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-weight: 400;
    border: 2px solid #cf092c;
    border-radius: 2px;
    color: #cf092c;
    background: none;
    cursor: pointer;
    margin-top: 25px;
    overflow: hidden;
    transition: .4s;
}
.products .cards button:hover:after, 
.products .cards button:hover:before{
    width: 100%;
    height: 100%;
}
.products .cards button:hover{

    background-color: red;
    color: white;
}
    


.products .content-title h3{
    font-size: 30px;
    color: #ffff;
    margin: 0.5em 0 0.5em 0;
    font-weight: normal;
}
.products .content-price h3{
    color: #c00113;
    font-size: 30px;
    font-weight: 300;
}
.products p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #929292;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.products .content{
    margin: 20px;
}

.content p{
    margin-bottom: 25px;
}






.cards-container{
    position: relative;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 10;
}
.cards-container{
    position: relative;
}
.prev{
    left: 0;
}